body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
  /* background: linear-gradient(89deg, #004bad 0%, #002f6b 100%);
  background: linear-gradient(89deg, #004bad 0%, #003d8a 100%);
  background: linear-gradient(89deg, #004bad 0%, #0069f0 100%);
  background: linear-gradient(89deg, #004bad 0%, #1177fb 100%); */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
